$brand: #434c5e;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import "_contact";

body {
  align-items: center;
  background: $brand;
  display: flex;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 80vw;
}

img {
  display: block;
  height: auto;
  max-height: 500px;
  max-width: 500px;
  width: 25vw;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
