<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>{{ page.title | default: site.title }}</title>

    <link rel="manifest" href="{{ "/manifest.json" | prepend: site.baseurl | prepend: site.url }}"/>

    <meta content="#072f5f" name="theme-color"/>
    <link href="/assets/img/icons/icon-192x192.png" rel="apple-touch-icon"/>

    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <main>
      {{ content}}
    </main>

    <script>
      var cb = function () {
        var l = document.createElement("link");
        l.rel = "stylesheet";
        l.href = "/assets/css/main.css";
        var h = document.getElementsByTagName("head")[0];
        h.parentNode.insertBefore(l, h);
      };
      var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf)
        raf(cb);
      else
        window.addEventListener("load", cb);
    </script>
    <script src="/assets/js/main.js" type="text/javascript"></script>
  </body>

</html>
